*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
saved_tv_shows.json